## Evaluating Jazz album prices on Discogs.com
## Dataprep
**- program:** 02_dataprep.ipynb<br>
**- purpose:** readin .csv output from webscrape program (discog_alt.ipynb)<br>
**- date:** jan 16, 2021<br>
**- created by:** chris chan<br>

**- final clean dataframe:** ../data/clean/df_clean.csv

### I. Read-in discogs csv files

In [502]:
import pandas as pd 
import glob
import os
import numpy as np

# get all .csv files in data directory
filenames=glob.glob(r"../data2/*.csv")
#print(filenames)

li=[]
df=pd.DataFrame()

# readin each csv and place into list
for i in filenames:
    data = pd.read_csv(i) 
    li.append(data)
    
# append data together    
df=pd.concat(li,axis=0,ignore_index=True)
df.shape

(7665, 15)

In [503]:
df.head(3)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7665 entries, 0 to 7664
Data columns (total 15 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Artist_Album      7663 non-null   object
 1   Label             7663 non-null   object
 2   Country           7662 non-null   object
 3   Format            7663 non-null   object
 4   Notes             6954 non-null   object
 5   Genre             7663 non-null   object
 6   Release_Date      7663 non-null   object
 7   Style             7663 non-null   object
 8   Rate_Haves_Wants  7663 non-null   object
 9   Media_Condition   7663 non-null   object
 10  Sleeve_Condition  7654 non-null   object
 11  Seller_Rating     7641 non-null   object
 12  Recorded_at       3400 non-null   object
 13  Pressed_by        2012 non-null   object
 14  Price             7663 non-null   object
dtypes: object(15)
memory usage: 898.4+ KB

**Recorded at / pressed by have many nulls. these can be dropped**

In [504]:
df.drop(['Recorded_at','Pressed_by'], axis=1, inplace=True)

### II. Cleaning

**Flag keywords in notes that may add value to resale**

In [505]:
df['notes']=df['Notes'].str.lower()

In [506]:
df['notes'].astype(str)

0       recorded at the wor studios, nyc, on may 9, 19...
1                              recorded on june 16, 1957.
2       recorded live on november 23, 1955.\n\n1st ori...
3       recorded on march 3, 1957.\n\nthe 1st original...
4       this pressing has:\n- w 63 street address and ...
                              ...
7660    recorded the night of november 12th and mornin...
7661    first pressing: six-eyes columbia logo on the ...
7662                                                  nan
7663                                                  nan
7664    recorded july 11, 1958.\n\nthis album was form...
Name: notes, Length: 7665, dtype: object

**Notes: Extract keywords from notes**

In [507]:
# important keywords found in notes:
searchwords = ['1st','first','2nd','second','3rd','third','original','rare','deep','groove','deepgroove', 'sealed','promo']

df['fpress'] = np.where(df['notes'].str.contains('1st') | df['notes'].str.contains('first'), 1, 0)
df['spress'] = np.where(df['notes'].str.contains('2nd') | df['notes'].str.contains('second'), 1, 0)
df['tpress'] = np.where(df['notes'].str.contains('3rd') | df['notes'].str.contains('third'), 1, 0)
df['original'] = np.where(df['notes'].str.contains('original') , 1, 0)
df['rare'] = np.where(df['notes'].str.contains('rare') , 1, 0)
df['dgroove'] = np.where(df['notes'].str.contains('deep') | df['notes'].str.contains('deepgroove') | df['notes'].str.contains('dg') , 1, 0)
df['sealed'] = np.where(df['notes'].str.contains('sealed') , 1, 0)
df['promo'] = np.where(df['notes'].str.contains('promo'),1,0 )

#group all inot one cat
df['xnotes'] = df['fpress'] | df['spress'] | df['tpress'] | df['original'] | df['rare'] | df['dgroove'] | df['sealed'] | df['promo']
df.xnotes.value_counts()

0    3890
1    3775
Name: xnotes, dtype: int64

In [508]:
df.describe()

,fpress,spress,tpress,original,rare,dgroove,sealed,promo,xnotes
count,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000
mean,0.199348,0.059622,0.066275,0.234964,0.095108,0.178474,0.092890,0.108023,0.492498
std,0.399536,0.236800,0.248779,0.424004,0.293383,0.382936,0.290297,0.310430,0.499976
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [509]:
df.xnotes.value_counts()

0    3890
1    3775
Name: xnotes, dtype: int64

**Cleaning multiple variables**
- arist_album:
    split artist / album by (-)
- label
    split by (-)
- format
    split by (,)
- release date
    get year - split by (-), otherwise year
rates_have_wants
    - split by ( first
- rating
    - split rates_haves_want (2nd)
- votes
    - split rates_haves_wants (4th)
- haves

    - split rates_haves_wants : after ( get 1st
- wants
    - split rates_haves_wants : after ( get 3rd
- price
    - change to float

In [510]:
'''
 Perform cleaning of vars.
 Note: a few 'dashes' are em dashes. These were copied into the condition to have the variables split
'''
# change price to float
df['_price']=df['Price'].str.split('$',1,expand=True)[1]

df['_price2']=df['_price'].str.replace(",","")
df['price']=df['_price2'].astype(float)

# Artist, Album
df[['artist', 'album']] = df['Artist_Album'].str.split('–', n=1, expand=True)

# Record Label
df[['reclabel','_reclabel']] = df['Label'].str.split('–',n=1,expand=True)

# Record release yeaer
df['recyear'] = df['Release_Date'].str[-2:] #  = sample_str[-1]

# Rating haves wants votes
df[['_rating','_haveswants']] = df['Rate_Haves_Wants'].str.split('(', 1,expand=True)
df['rating']=df['_rating'].str.split(' ',4,expand=True)[1].str.strip()
df['rating'].replace({'Rating': np.nan},inplace=True)
df['rating']=df['rating'].astype(float)

# votes
df['votes']=df['_rating'].str.split(' ',4,expand=True)[3].str.strip()
df['votes']=pd.to_numeric(df['votes'], errors='coerce')

# Split haves, wants
df[['_haves','_wants']] = df['_haveswants'].str.split(',', 1,expand=True)
df['_wants'] = df['_wants'].str[:-1]

# Haves / Wants
df['haves']=df['_haves'].str.split(' ',1,expand=True)[0].astype(float)
df['wants']=df['_wants'].str.split(' ',2,expand=True)[1].astype(float)

# Sleeve condition
df['sleeve_condition']=df['Sleeve_Condition'].str.split(':',1,expand=True)[1]
df['sleeve_cond_abbr']=df['Sleeve_Condition'].str.split('(',1,expand=True)[1]
df['sleeve_cond_abbr']=df['sleeve_cond_abbr'].str.replace(')','')

# Media condition
df['media_cond_abbr']=df['Media_Condition'].str.split('(',1,expand=True)[1]
df['media_cond_abbr']=df['media_cond_abbr'].str.replace(')','')

# Price
#df['_price'] = df['Price'].map(lambda x: x.lstrip('$,').rstrip('aAbBcC,'))

# Seller rating
#df['_seller_rating'] = df['Seller_Rating'].map(lambda x: x.strip('%'))

df['seller_rating'] = df['Seller_Rating'].astype(str).str.replace('%', '').astype(float) / 100

In [511]:
df.head(2)

,Artist_Album,Label,Country,Format,Notes,Genre,Release_Date,Style,Rate_Haves_Wants,Media_Condition,...,rating,votes,_haves,_wants,haves,wants,sleeve_condition,sleeve_cond_abbr,media_cond_abbr,seller_rating
0,Miles Davis – Volume 2,Blue Note – BLP 1502,US,"Vinyl, LP, Compilation, Remastered, Mono","Recorded at the WOR Studios, NYC, on May 9, 19...",Jazz,Feb 1956,"Hard Bop, Bop","Rated 4.32 of 25 votes (219 have, 301 want)",Very Good Plus (VG+),...,4.32,25.0,219 have,301 want,219.0,301.0,Very Good (VG),VG,VG+,0.988
1,Curtis Fuller – The Opener,Blue Note – BLP 1567,US,"Vinyl, LP, Album, Mono","Recorded on June 16, 1957.",Jazz,1957,Hard Bop,"Rated 4.50 of 16 votes (68 have, 385 want)",Very Good (VG),...,4.50,16.0,68 have,385 want,68.0,385.0,Very Good (VG),VG,VG,1.000

In [512]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7665 entries, 0 to 7664
Data columns (total 43 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Artist_Album      7663 non-null   object
 1   Label             7663 non-null   object
 2   Country           7662 non-null   object
 3   Format            7663 non-null   object
 4   Notes             6954 non-null   object
 5   Genre             7663 non-null   object
 6   Release_Date      7663 non-null   object
 7   Style             7663 non-null   object
 8   Rate_Haves_Wants  7663 non-null   object
 9   Media_Condition   7663 non-null   object
 10  Sleeve_Condition  7654 non-null   object
 11  Seller_Rating     7641 non-null   object
 12  Price             7663 non-null   object
 13  notes             6954 non-null   object
 14  fpress            7665 non-null   int64
 15  spress            7665 non-null   int64
 16  tpress            7665 non-null   int64
 17  original          7665 non-null   int64
 18  rare              7665 non-null   int64
 19  dgroove           7665 non-null   int64
 20  sealed            7665 non-null   int64
 21  promo             7665 non-null   int64
 22  xnotes            7665 non-null   int64
 23  _price            7663 non-null   object
 24  _price2           7663 non-null   object
 25  price             7663 non-null   float64
 26  artist            7663 non-null   object
 27  album             7663 non-null   object
 28  reclabel          7663 non-null   object
 29  _reclabel         7663 non-null   object
 30  recyear           7663 non-null   object
 31  _rating           7663 non-null   object
 32  _haveswants       7663 non-null   object
 33  rating            7213 non-null   float64
 34  votes             7213 non-null   float64
 35  _haves            7663 non-null   object
 36  _wants            7663 non-null   object
 37  haves             7663 non-null   float64
 38  wants             7663 non-null   float64
 39  sleeve_condition  7654 non-null   object
 40  sleeve_cond_abbr  7298 non-null   object
 41  media_cond_abbr   7663 non-null   object
 42  seller_rating     7641 non-null   float64
dtypes: float64(6), int64(9), object(28)
memory usage: 2.5+ MB

**Diagnostics**

In [513]:
# check values of vars
#df.dtypes
df['Style'].value_counts(ascending=False,dropna=False)

Hard Bop                                                                           3715
Bop, Hard Bop                                                                       817
Hard Bop, Modal                                                                     452
Hard Bop, Soul-Jazz                                                                 441
Hard Bop, Post Bop                                                                  277
                                                                                   ...
Hard Bop, Vocal, Space-Age, Easy Listening, Swing, Big Band, Country, Dixieland       1
Hard Bop, Soul-Jazz, Instrumental                                                     1
Bop, Vocal, Hard Bop, Post Bop, Public Service Announcement                           1
Cool Jazz, Bop, Hard Bop, Post Bop                                                    1
Afro-Cuban Jazz, Hard Bop, Latin Jazz                                                 1
Name: Style, Length: 165, dtype: int64

In [514]:
df.describe()

,fpress,spress,tpress,original,rare,dgroove,sealed,promo,xnotes,price,rating,votes,haves,wants,seller_rating
count,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7665.000000,7663.000000,7213.000000,7213.000000,7663.000000,7663.000000,7641.000000
mean,0.199348,0.059622,0.066275,0.234964,0.095108,0.178474,0.092890,0.108023,0.492498,88.149423,4.368951,20.535977,189.297403,156.843925,0.992546
std,0.399536,0.236800,0.248779,0.424004,0.293383,0.382936,0.290297,0.310430,0.499976,156.246242,0.429413,27.850330,257.524771,235.304400,0.026561
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,20.000000,1.000000,1.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,29.990000,4.160000,4.000000,38.000000,40.000000,0.994000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,45.000000,4.400000,11.000000,91.000000,85.000000,0.999000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,80.000000,4.640000,25.000000,233.000000,184.000000,1.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,5000.000000,5.000000,212.000000,1946.000000,3685.000000,1.000000

**Drop unnecessary variables**

In [515]:
# drop vars with _: and unnecessary vars
drops = df.columns[df.columns.str.startswith('_')]
df.drop(drops, axis=1, inplace=True)
df.drop(['Rate_Haves_Wants','sleeve_condition'], axis=1,inplace=True)
df.shape

(7665, 34)

In [516]:
df.head(2)

,Artist_Album,Label,Country,Format,Notes,Genre,Release_Date,Style,Media_Condition,Sleeve_Condition,...,album,reclabel,recyear,rating,votes,haves,wants,sleeve_cond_abbr,media_cond_abbr,seller_rating
0,Miles Davis – Volume 2,Blue Note – BLP 1502,US,"Vinyl, LP, Compilation, Remastered, Mono","Recorded at the WOR Studios, NYC, on May 9, 19...",Jazz,Feb 1956,"Hard Bop, Bop",Very Good Plus (VG+),Sleeve: Very Good (VG),...,Volume 2,Blue Note,56,4.32,25.0,219.0,301.0,VG,VG+,0.988
1,Curtis Fuller – The Opener,Blue Note – BLP 1567,US,"Vinyl, LP, Album, Mono","Recorded on June 16, 1957.",Jazz,1957,Hard Bop,Very Good (VG),Sleeve: Very Good (VG),...,The Opener,Blue Note,57,4.50,16.0,68.0,385.0,VG,VG,1.000

**Remove dups**

In [517]:
df = df.drop_duplicates()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7357 entries, 0 to 7664
Data columns (total 34 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Artist_Album      7356 non-null   object
 1   Label             7356 non-null   object
 2   Country           7355 non-null   object
 3   Format            7356 non-null   object
 4   Notes             6672 non-null   object
 5   Genre             7356 non-null   object
 6   Release_Date      7356 non-null   object
 7   Style             7356 non-null   object
 8   Media_Condition   7356 non-null   object
 9   Sleeve_Condition  7347 non-null   object
 10  Seller_Rating     7335 non-null   object
 11  Price             7356 non-null   object
 12  notes             6672 non-null   object
 13  fpress            7357 non-null   int64
 14  spress            7357 non-null   int64
 15  tpress            7357 non-null   int64
 16  original          7357 non-null   int64
 17  rare              7357 non-null   int64
 18  dgroove           7357 non-null   int64
 19  sealed            7357 non-null   int64
 20  promo             7357 non-null   int64
 21  xnotes            7357 non-null   int64
 22  price             7356 non-null   float64
 23  artist            7356 non-null   object
 24  album             7356 non-null   object
 25  reclabel          7356 non-null   object
 26  recyear           7356 non-null   object
 27  rating            6922 non-null   float64
 28  votes             6922 non-null   float64
 29  haves             7356 non-null   float64
 30  wants             7356 non-null   float64
 31  sleeve_cond_abbr  7004 non-null   object
 32  media_cond_abbr   7356 non-null   object
 33  seller_rating     7335 non-null   float64
dtypes: float64(6), int64(9), object(19)
memory usage: 2.0+ MB

**Drop unnecessary vars**

In [518]:
df.drop(['Notes','notes','Price','Seller_Rating','Media_Condition','Sleeve_Condition','Artist_Album','Format'], axis=1, inplace=True)

**Checking zeros in all columns**

In [519]:
df.isin([0]).sum()

Label                  0
Country                0
Genre                  0
Release_Date           0
Style                  0
fpress              5898
spress              6924
tpress              6871
original            5639
rare                6655
dgroove             6062
sealed              6671
promo               6558
xnotes              3752
price                  0
artist                 0
album                  0
reclabel               0
recyear                0
rating                 0
votes                  0
haves                 32
wants                 22
sleeve_cond_abbr       0
media_cond_abbr        0
seller_rating          1
dtype: int64

**Cleaning Haves / Wants**
- there were very few zeros as haves and wants 
- deciding to impute to 1 so we can perform non-zero functions

In [520]:
haveszero = np.array(df['haves'].values.tolist())
df['haves'] = np.where(haveszero ==0 , 1, haveszero).tolist()

wantszero = np.array(df['wants'].values.tolist())
df['wants'] = np.where(wantszero ==0 , 1, wantszero).tolist()

**Seller rating**
- We have a few seller ratings with null values. Impute with mode

In [521]:
df['seller_rating'].fillna(value=df['seller_rating'].mode(),inplace=True)

**Ratings and Votes**
- Records with no ratings and/or votes are true zeros, not missings.
- Therefore convert to zero

In [522]:
df['rating'] = df['rating'].fillna(0)
df['votes'] = df['votes'].fillna(0)

In [523]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7357 entries, 0 to 7664
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Label             7356 non-null   object
 1   Country           7355 non-null   object
 2   Genre             7356 non-null   object
 3   Release_Date      7356 non-null   object
 4   Style             7356 non-null   object
 5   fpress            7357 non-null   int64
 6   spress            7357 non-null   int64
 7   tpress            7357 non-null   int64
 8   original          7357 non-null   int64
 9   rare              7357 non-null   int64
 10  dgroove           7357 non-null   int64
 11  sealed            7357 non-null   int64
 12  promo             7357 non-null   int64
 13  xnotes            7357 non-null   int64
 14  price             7356 non-null   float64
 15  artist            7356 non-null   object
 16  album             7356 non-null   object
 17  reclabel          7356 non-null   object
 18  recyear           7356 non-null   object
 19  rating            7357 non-null   float64
 20  votes             7357 non-null   float64
 21  haves             7356 non-null   float64
 22  wants             7356 non-null   float64
 23  sleeve_cond_abbr  7004 non-null   object
 24  media_cond_abbr   7356 non-null   object
 25  seller_rating     7335 non-null   float64
dtypes: float64(6), int64(9), object(11)
memory usage: 1.5+ MB

**DROPPING rows with NA**
- the remaining NAs are:
    - ratings
    - votes
    - sleeve condition
- these may be not worth imputing at this moment

In [524]:
#df.isnull().values.any()
df.isnull().sum().sum()

389

**Sleeve condition has the remaining null values**
- can drop these since they should have been reported

In [525]:
# Dropping NAN
df.dropna(inplace=True)

In [526]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6982 entries, 0 to 7664
Data columns (total 26 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Label             6982 non-null   object
 1   Country           6982 non-null   object
 2   Genre             6982 non-null   object
 3   Release_Date      6982 non-null   object
 4   Style             6982 non-null   object
 5   fpress            6982 non-null   int64
 6   spress            6982 non-null   int64
 7   tpress            6982 non-null   int64
 8   original          6982 non-null   int64
 9   rare              6982 non-null   int64
 10  dgroove           6982 non-null   int64
 11  sealed            6982 non-null   int64
 12  promo             6982 non-null   int64
 13  xnotes            6982 non-null   int64
 14  price             6982 non-null   float64
 15  artist            6982 non-null   object
 16  album             6982 non-null   object
 17  reclabel          6982 non-null   object
 18  recyear           6982 non-null   object
 19  rating            6982 non-null   float64
 20  votes             6982 non-null   float64
 21  haves             6982 non-null   float64
 22  wants             6982 non-null   float64
 23  sleeve_cond_abbr  6982 non-null   object
 24  media_cond_abbr   6982 non-null   object
 25  seller_rating     6982 non-null   float64
dtypes: float64(6), int64(9), object(11)
memory usage: 1.4+ MB

**Reassign conditions to ordinal values**

In [527]:
preserved_mapper = {'M':8 , 'NM or M-': 7, 'VG+': 6, 'VG':5, 'G+':4, 'G': 3, 'F':2, 'P':1}
df['media_cond_num']=df['media_cond_abbr'].replace(preserved_mapper)
df['sleeve_cond_num']=df['sleeve_cond_abbr'].replace(preserved_mapper)

In [528]:
df.media_cond_num.value_counts()

6    2959
5    1734
7    1509
4     410
8     206
3     122
2      34
1       8
Name: media_cond_num, dtype: int64

In [529]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6982 entries, 0 to 7664
Data columns (total 28 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Label             6982 non-null   object
 1   Country           6982 non-null   object
 2   Genre             6982 non-null   object
 3   Release_Date      6982 non-null   object
 4   Style             6982 non-null   object
 5   fpress            6982 non-null   int64
 6   spress            6982 non-null   int64
 7   tpress            6982 non-null   int64
 8   original          6982 non-null   int64
 9   rare              6982 non-null   int64
 10  dgroove           6982 non-null   int64
 11  sealed            6982 non-null   int64
 12  promo             6982 non-null   int64
 13  xnotes            6982 non-null   int64
 14  price             6982 non-null   float64
 15  artist            6982 non-null   object
 16  album             6982 non-null   object
 17  reclabel          6982 non-null   object
 18  recyear           6982 non-null   object
 19  rating            6982 non-null   float64
 20  votes             6982 non-null   float64
 21  haves             6982 non-null   float64
 22  wants             6982 non-null   float64
 23  sleeve_cond_abbr  6982 non-null   object
 24  media_cond_abbr   6982 non-null   object
 25  seller_rating     6982 non-null   float64
 26  media_cond_num    6982 non-null   int64
 27  sleeve_cond_num   6982 non-null   int64
dtypes: float64(6), int64(11), object(11)
memory usage: 1.5+ MB

In [530]:
df[['price']].sort_values(['price']).tail()

      price
1   2100.00
12  2225.00
77  2250.00
57  2799.95
35  5000.00

In [531]:
# Drop outlier
df = df[df['price'] < 5000.00]

In [532]:
df[['price']].sort_values(['price']).tail()

      price
86  2000.00
1   2100.00
12  2225.00
77  2250.00
57  2799.95

### III. Save Dataframe for analysis

In [533]:
df.to_csv(r'../data/clean/_df_clean.csv', index = False, header=True)
print(df)

                                             Label Country Genre Release_Date  \
0                             Blue Note – BLP 1502      US  Jazz     Feb 1956
1                             Blue Note – BLP 1567      US  Jazz         1957
2                             Blue Note – BLP 1508      US  Jazz     May 1956
3                             Blue Note – BLP 1549      US  Jazz     May 1957
5                             New Jazz – PRLP 8205      US  Jazz         1961
...                                            ...     ...   ...          ...
7660                 Contemporary Records – C 3546      US  Jazz         1958
7661                            Columbia – CL 1656      US  Jazz  11 Dec 1961
7662  Pacific Jazz – PJ-2, Pacific Jazz – STEREO-2      US  Jazz         1960
7663                             Impulse! – A-9104      US  Jazz         1966
7664                            Prestige – PR 7825      US  Jazz         1970

                    Style  fpress  spress  tpress  original  rare  ...  \
0           Hard Bop, Bop       1       0       0         1     0  ...
1                Hard Bop       0       0       0         0     0  ...
2                Hard Bop       1       0       0         1     0  ...
3                Hard Bop       1       0       1         1     0  ...
5                Hard Bop       0       0       0         1     0  ...
...                   ...     ...     ...     ...       ...   ...  ...
7660  Cool Jazz, Hard Bop       1       0       0         1     0  ...
7661      Hard Bop, Modal       1       0       0         0     0  ...
7662             Hard Bop       0       0       0         1     1  ...
7663   Hard Bop, Post Bop       0       0       0         1     1  ...
7664             Hard Bop       0       0       0         0     0  ...

      recyear  rating  votes  haves  wants sleeve_cond_abbr media_cond_abbr  \
0          56    4.32   25.0  219.0  301.0               VG             VG+
1          57    4.50   16.0   68.0  385.0               VG              VG
2          56    4.62   29.0  206.0  411.0              VG+        NM or M-
3          57    4.76   17.0   84.0  495.0               VG             VG+
5          61    4.60   10.0   34.0  131.0         NM or M-             VG+
...       ...     ...    ...    ...    ...              ...             ...
7660       58    4.09   11.0   79.0   28.0               G+             VG+
7661       61    4.49   55.0  479.0  219.0               VG              G+
7662       60    4.25    4.0   50.0   41.0              VG+              VG
7663       66    4.50    2.0   89.0   34.0              VG+             VG+
7664       70    3.91   11.0  133.0   57.0              VG+        NM or M-

     seller_rating media_cond_num  sleeve_cond_num
0            0.988              6                5
1            1.000              5                5
2            0.988              7                6
3            0.978              6                5
5            0.994              6                7
...            ...            ...              ...
7660         1.000              6                4
7661         1.000              4                5
7662         0.998              5                6
7663         1.000              6                6
7664         0.999              7                6

[6981 rows x 28 columns]